@page "/DeleteInsumo"
@page "/DeleteInsumo/{InsumoId:int}"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject InsumoService insumoService

<PageTitle>Eliminar Insumo</PageTitle>

<style>
    body {
        background: linear-gradient(to right, #b3e5fc, #81d4fa);
        color: #000;
    }

    .card {
        background: linear-gradient(to right, #e1f5fe, #b3e5fc);
        border-radius: 20px;
        padding: 1rem;
        box-shadow: 0 0 15px rgba(33, 150, 243, 0.5);
        color: #000;
    }

    .card-header {
        background-color: #d32f2f; /* Color de fondo rojo */
        color: white;
        border-radius: 20px 20px 0 0;
        padding: 1rem;
    }

    .card-footer {
        background-color: #e1f5fe; /* Color de fondo claro */
    }

    .btn-outline-primary {
        color: #ffffff;
        background-color: #0288d1;
        border-color: #0288d1;
    }

    .btn-outline-primary:hover {
        background-color: #0277bd;
        border-color: #0277bd;
    }

    .btn-outline-danger {
        background-color: #ffffff;
        color: #d32f2f;
        border: 2px solid #d32f2f;
    }

    .btn-outline-danger:hover {
        background-color: #d32f2f;
        color: #fff;
    }
</style>

<div class="card shadow-lg">
    <div class="card-header">
        <h1 class="mb-0">¿Desea Eliminar este Insumo?</h1>
    </div>
    <div class="card-body">
        <h5 class="card-title">Detalles del Insumo:</h5>
        <dl class="row">
            <dt class="col-sm-3">InsumosId:</dt>
            <dd class="col-sm-9">@insumo.InsumosId</dd>

            <dt class="col-sm-3">Nombre Insumo:</dt>
            <dd class="col-sm-9">@insumo.NombreInsumo</dd>

            <dt class="col-sm-3">Descripción:</dt>
            <dd class="col-sm-9">@insumo.Descripcion</dd>

            <dt class="col-sm-3">Cantidad:</dt>
            <dd class="col-sm-9">@insumo.Cantidad</dd>

            <dt class="col-sm-3">Precio:</dt>
            <dd class="col-sm-9">@insumo.Precio</dd>

            <dt class="col-sm-3">Fecha Registro:</dt>
            <dd class="col-sm-9">@insumo.fechaRegistro.ToString("dd/MM/yyyy")</dd>
        </dl>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
        <div class="input-group">
            <a href="/IndexInsumo" class="btn btn-outline-primary bi bi-arrow-return-left"> Volver</a>
            <button type="button" class="btn btn-outline-danger bi bi-trash" @onclick="Eliminar">Eliminar</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int InsumoId { get; set; }
    public Insumos insumo { get; set; } = new Insumos();

    protected override async Task OnInitializedAsync()
    {
        if (InsumoId > 0)
        {
            insumo.InsumosId = InsumoId;
            await this.Buscar();
        }
    }

    public async Task Buscar()
    {
        var insumoEncontrado = await insumoService.Buscar(insumo.InsumosId);

        if (insumoEncontrado != null)
        {
            this.insumo = insumoEncontrado;
        }
    }

    public async Task Eliminar()
    {
        if (!await insumoService.Existe(insumo.InsumosId))
        {
            return;
        }
        if (await insumoService.Eliminar(insumo.InsumosId))
        {
            Atras();
        }
    }

    void Atras()
    {
        Navigation.NavigateTo("/IndexInsumo");
    }
}
